* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
    
body {
    background-color: #212121;
    min-height: 100vh;
}

.title {
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 16px;
}

.main {
    max-width: 500px;
    padding: 8px;
    border-radius: 4px;
    margin: 2rem auto 2rem auto;
}

.body-card {
    background-color: gray;
    max-width: 500px;
    padding: 8px;
    border-radius: 8px;
    margin: 2rem auto 2rem auto;
    font: arial, 12px;
}

.desc {
    margin-bottom: 16px;
}

.form-input {
    margin-bottom: 8px;
    border-radius: 4px;
    width: 100%;
}

.form-input textarea {
    width: 100%;
    box-shadow: 1px 1px 1px black;
}

.group-button {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.group-button button {
    width: 40%;
    padding: 6px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(218, 214, 214);
    border: none;
    background-color: rgb(83, 81, 81);
    border-radius: 4px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 4px black;
}

.info {
    margin-top: 16px;
}

.info .desc{
    padding-top: 8px;
    border-radius: 4px;
    margin-top: 8px;
}